
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600|Material+Icons");

// Vuetify
@import "node_modules/vuetify/dist/vuetify";

// Variables
@import "variables";

[v-cloak]{
	display: none;
}

::-webkit-scrollbar{
	background-color: transparent;
	width: 7px;
}
::-webkit-scrollbar-track {
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
	background-color: #1976d2;
	border-radius: 10px;
}
*{
	transition: all .2s;
}
html, body{
	width: 100vw;
}
a{
	text-decoration: none;
}
#app{
	width: 100vw;
}
.container{
	padding: 0;
}

.toolbar__side-icon{
	z-index: 2;
}

.padded{
	padding: 20px;
}
.alert{
	position: fixed;
	z-index: 9;
	top: 25vh;
	left: 20vw;
	width: 60vw;
}
.alert li{
	border-bottom: solid 1px grey;
}
.loader{
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
}
.fixed-bottom{
	position: fixed;
	bottom: 20px;
}
.right{		
	right: 20px;
}
.left{
	left: 20px;
}

.rounded{
	border-radius: 10px;
}

#editor{
	border: solid grey 1px;
	border-radius: 5px;
	padding: 10px;
}

.margin-auto{
	margin: 0 auto;
}

.crazy-btn{
	animation: seeme 4s infinite;
}
.flex-center{
	display: flex;
	align-items: center;
}
.relative{
	position: relative;
}
.absolute{
	position: absolute;
}
.bottom-right{
	bottom: 10px;
	right: 10px;
}
.neg-top{
	top: -30px;
}
@keyframes seeme{
	0%, 15%, 35%{
		width: 85px;
		height: 40px;
		font-size: 15px;
		bottom: 20px;
		right: 20px;
	}

	10%, 30%{
		width: 95px;
		height: 50px;
		font-size: 25px;
		right: 15px;
		bottom: 15px;
	}
}
.pagination{
	margin: 0 auto;
	height: 55px;
}
.pagination > li{
	margin:0;
}
.pagination > li a{
	padding: 10px 20px;
	text-decoration: none;
	font-size: 20px;
	transition: all .2s;
}
.pagination > li a:hover{
	padding: 30px 20px;
	font-size: 60px;
	font-weight: bold;
}
input, textarea{
	outline: none;
}

.location-input{
    border-bottom: solid 2px #948e8e;
    width: 100%;
    padding: 7px 1px;
    margin: 10px 0;
    color: #948e8e;
    cursor: #948e8e;
}
/* === WELCOME PAGE === */
#hero{
	background-image: url('/Defaults/map-bg.jpg');
	position: relative;
	overflow: hidden;
	height: 85vh;
	min-height: 340px;
	z-index: 5;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
#inner{
	background-color: rgba(0,0,0,.3);
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	transition: background-color 0s;
}
.inner{
	width: 100%;
}
#title{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	transition: top 0s;
}
.hero-text{
	width: 100%;
	position: relative;
	left: 0;
	padding: 20px;
}

/* === TRANSITIONS === */
.fade-enter-active, .fade-leave-active {
  transition: all .5s;
  position: absolute;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.drop-enter-active, .drop-leave-active {
  transition: all .5s;
  overflow: hidden;
  height: 386px;
}
.drop-enter, .drop-leave-to /* .fade-leave-active below version 2.1.8 */ {
  height: 0;
}
/* === REGISTER AND LOGIN PAGE === */

.register-page, .login-page{
	background-image: url('/Defaults/map-bg.jpg');
	height: 100vh;
	width: 100vw;
	background-size: cover;
}
.register-page .card, .login-page .card{
	width: 450px;
}

/* === PROFILE VIEW PAGE === */
#page-hero{
	background-color: lightgrey;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 50vh;
	display: flex;
	align-items: center;
}
